<%= form_with(model: business, class: "needs-validation") do |form| %>
  <% if business.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h4>
      <ul class="mb-0">
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.submit "Save", class: "btn btn-primary w-100" %>
<% end %>
