<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to "SimpleShop", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link" do %>
              <i class="fas fa-boxes-stacked fa-fw"></i>

            Inventory
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to sales_path, class: "nav-link" do %>
            <i class="fas fa-receipt fa-fw"></i>

            Sales
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user.businesses.any? %>
            <%= link_to business_path(current_user.businesses.first), class: "nav-link" do %>
              <i class="fas fa-store fa-fw"></i>
              <%= current_user.businesses.first.name %>
            <% end %>
          <% else %>
            <%= link_to new_business_path, class: "nav-link" do %>
              <i class="fas fa-plus fa-fw"></i>
              Create Business
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
