<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :business_id, style: "display: block" %>
    <%= form.number_field :business_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :quantity_in_stock, style: "display: block" %>
    <%= form.number_field :quantity_in_stock %>
  </div>

  <div>
    <%= form.label :low_stock_threshold, style: "display: block" %>
    <%= form.number_field :low_stock_threshold %>
  </div>

  <div>
    <%= form.label :sales_count, style: "display: block" %>
    <%= form.number_field :sales_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
