<div id="<%= dom_id item %>" class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0"><%= item.name %></h5>
  </div>

  <div class="card-body">
    <p class="card-text mb-2">
      <strong>Status:</strong>
      <%# NOTE: We love this use of `case` %>
      <span class="badge 
        <%= case item.status
            when "In Stock" then "bg-success"
            when "Low Stock" then "bg-warning text-dark"
            when "Sold Out" then "bg-danger"
            end %>">
        <%= item.status %>
      </span>
    </p>

    <p class="card-text mb-2">
      <strong>Price:</strong> $<%= number_to_currency(item.price, unit: "", precision: 2) %>
    </p>

    <p class="card-text mb-2">
      <strong>Quantity in stock:</strong> <%= item.quantity_in_stock %>
    </p>

    <p class="card-text mb-2">
      <strong>Low stock threshold:</strong> <%= item.low_stock_threshold %>
    </p>

    <p class="card-text mb-2">
      <strong>Sales count:</strong> <%= item.sales_count %>
    </p>
  </div>
</div>
