<div id="<%= dom_id item %>">
  <p>
    <strong>Business:</strong>
    <%= item.business_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Quantity in stock:</strong>
    <%= item.quantity_in_stock %>
  </p>

  <p>
    <strong>Low stock threshold:</strong>
    <%= item.low_stock_threshold %>
  </p>

  <p>
    <strong>Sales count:</strong>
    <%= item.sales_count %>
  </p>

</div>
