<div id="<%= dom_id sale %>">
  <p>
    <strong>Item:</strong>
    <%= sale.item_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Quanitity sold:</strong>
    <%= sale.quanitity_sold %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sale.total_price %>
  </p>

</div>
